<script>
function authorQuiz() {
  answer = prompt("Who is the author of Hello Ruby?");
  if (answer != "Linda Liukas") {
    alert("Incorrect!");
  }
}
</script>

<a href="javascript:authorQuiz()">Author Quiz!</a>
